
body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}


svg {
  -webkit-user-select: none;  
   -moz-user-select: none;     
   -ms-user-select: none;      
   user-select: none;   
}



.axis-y path {
  
}

.axis-y text {
  fill: white;
  font-size: 8px;
  font-family: 'Open Sans', Arial;
}

.vis_container {
  position: relative;
}

.vis_container .info {
  font-family: Helvetica;
  position: absolute;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  top: 0px;
  left: 60px;
  width: 50%;
}

.vis_container h3 {
  font-size: 11px;
  font-weight: normal;
}

.vis_container h4 {
  font-size: 8px;
  text-transform: uppercase;
}