@import 'libs/prefixer.less';
@import 'libs/font-awesome.min.css';

html,body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', arial !important;
  padding: 0;
  margin: 0;
}
@grey: #d0d0d0;
@fontsize: 20px;
.width_container {
  display: block;
  height: 100%;
  margin: auto auto;
  max-width: 600px;
  position: relative;
}
.container {
  /* For old browsers */
  display: block;
  height: 100%;
  margin: auto auto;
  max-width: 600px;
  position: relative;
  h1,
  h3,
  p {
    font-family: 'Open Sans', arial !important;
    margin: 0 auto 5px auto;
    max-width: 600px;
    padding: 0 20px;
  }
  ol,
  ul {
    color: @grey;
    font-family: 'Open Sans', arial !important;
    margin: 0 auto 15px auto;
    max-width: 600px;
    padding-right: 10px;
    &.center {
      list-style-position: inside;
      padding: 0;
      text-align: center;
    }
    a,
    a:hover,
    a:visited {
      color: @grey;
    }
  }
  h1 {
    font-size: @fontsize;
    font-weight: 700;
  }
  p {
    color: @grey;
    font-family: 300;
    font-size: 18px;
  }
  a,
  a:hover,
  a:visited {
    color: #fff;
  }
  // Init container.
  &.init_container {
    display: block;
    h1 {
      padding-top: 10px;
      text-transform: uppercase;
    }
  }
  // Help container.
  &.help_container {
    display: none;
    h1 {
      padding-top: 10px;
      text-transform: uppercase;
    }
  }
  // Game container.
  &.game_container {
    display: none;
    .counter_container {
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
      .counter {
        color: @grey;
        font-size: 150px;
        left: 50%;
        margin-left: -50px;
        margin-top: -140px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100px;
      }
      .counter_text {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        height: 30px;
        left: 50%;
        margin-left: -80px;
        margin-top: 35px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 160px;
      }
    }
    // Aseet container.
    .asset_container {
      display: none;
      margin-bottom: 10px;
      width: 100%;
      h1 {
        .clearfix;
        font-weight: 300;
        padding: 10px 0 0 0;
        @media (max-width: 599px) {
          padding: 10px 20px 0 20px;
        }
        .asset_text {
          color: @grey;
          float: left;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.1em;
          width: 50%;
        }
        .asset_value {
          float: left;
          font-size: 30px;
          width: 50%;
          font-weight: bold;
          text-align: right;
          &:before {
            font-weight: normal;
            content: '× ';
          }
        }
      }
      .log_container {
        font-size: 12px;
        height: 100px;
        overflow-x: scroll;
      }
    }

    // Vis container.
    .vis_container {
      box-sizing: border-box;
      display: none;
      position: relative;
      svg {
        z-index: -1;
      }
      .info {
        box-sizing: border-box;
        height: 120px;
        margin: auto auto;
        max-width: 600px;
        overflow: hidden;
        position: static;
        width: 100%;
        @media (max-width: 599px) {
          padding: 0 20px;
        }
        h1,
        p { 
          padding: 0;
        }
        h4 {
          color: @grey;
          display: inline;
          font-size: 18px;
          font-weight: 300;
          line-height: 18px;
          margin: 0 0 10px 0;
          // position: relative;
          // z-index: 10;
        }
        h3 {
          display: inline;
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
          margin: 0 0 0 0;
          // position: relative;
          // z-index: 10;
        }
      }
    }

    .year,
    .price {
      color: #fff;
      font-weight: 700;
    }

    // Controls container.
    .controls_container {
      position: relative;
      height: 115px;
      .control {
        display: none;
        &:disabled {
          .opacity(0.2);
        }
      }
      .pause_container {
        bottom: -10px;
        display: none;
        position: absolute;
        right: 10px;
        z-index: 6;
        a {
          padding-top: 40px;
          padding-left: 40px;
          color: @grey;
          font-size: 16px;
          text-decoration: none;
          &.disabled {
            .opacity(0.3);
          }
        }
      }
      .reload_container {
        bottom: -10px;
        display: none;
        left: 10px;
        position: absolute;
        z-index: 6;
        a {
          padding-top: 40px;
          padding-right: 40px;
          color: @grey;
          font-size: 16px;
          text-decoration: none;
          &.disabled {
            .opacity(0.3);
          }
        }
      }
    }
    .feedback_container {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 3;
      div {
        position: relative;
        top: 35%;
        h1 {
          padding-top: 20px;
          text-transform: uppercase;
        }
      }
    }
    .result_container {
      display: none;
      h1 {
        padding-top: 10px;
      }
      h3 {
        text-align: center;
      }
      .submit_wrapper {
        max-width: 600px;
        margin: 30px 0;
        label {
          div {
            margin: 0 20px;
            input {
              background-color: #000;
              border: 1px solid @grey;
              box-sizing: border-box;
              color: #fff;
              font-size: 16px;
              margin: 0 0 10px 0;
              outline: none;
              padding: 8px;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .share_container {
    margin: 20px 0;
    text-align: center;
    a {
      color: #fff;
    }
    .fa {
      margin-top: 10px;
      &.fa-yle-some {
        font-size: 50px;
        margin: 0 0 0 0;
        &:hover {
          color: #777;
        }
      }
    }
  }

  /* General styles */
  .clearfix {
    zoom: 1;
    &:after {
      clear: both;
      content: ' ';
      display: block;
      height: 0;
      visibility: hidden;
    }
  }
  .button {
    margin-top: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 100%;
    .button_img_container {
      margin-bottom: 10px;
      .button_img {
        width: 80px;
        height: 80px;
      }
    }
    .button_text {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 14px;
    }
  }
  .clear_both {
    clear: both;
  }
  .hidden {
    display: none;
  }
  .nowrap {
    white-space: nowrap;
  }
  .debug {
    display: none;
  }
  .no_scroll {
    overflow: hidden;
  }
}
