@import 'libs/prefixer.less';
html,body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
.container {
  /* For old browsers */
  display: block;
  height: 100%;
  h1,
  h3,
  p {
    padding: 0 10px;
    margin: 0 0 15px 0;
  }
  h1 {
  }
  &.init_container {
    display: block;
    .control {
      background-color: #fff;
      border: 0;
      font-size: 20px;
      height: 50px;
      outline: none;
      width: 100%;
    }
  }
  &.game_container {
    display: none;
    // Result container.
    .result_container {
      width: 100%;
      h1 {
        background-color: #fff;
        color: #000;
        font-size: 40px;
        text-align: center;
      }
      .log_container {
        font-size: 12px;
        height: 100px;
        overflow-x: scroll;
      }
    }

    // Vis container.
    .vis_container {
      background-color: #fff;
      border: 1px solid #fff;
      box-sizing: border-box;
      height: 200px;
      width: 100%;
    }

    // Controls container.
    .controls_container {
      .control {
        background-color: #fff;
        border: 0;
        bottom: 0;
        font-size: 20px;
        height: 70px;
        line-height: 70px;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        width: 90px;
        outline: none;
        &.sell {
          left: 0;
        }
        &.buy {
          right: 0;
        }
      }
    }
  }

  /* General styles */
  .clearfix {
    zoom: 1;
    &:after {
      clear: both;
      content: ' ';
      display: block;
      height: 0;
      visibility: hidden;
    }
  }
  .clear_both {
    clear: both;
  }
  .hidden {
    display: none;
  }
  .nowrap {
    white-space: nowrap;
  }
  .debug {
    display: block;
  }
}
